<main class="container-fluid">
    <div class="row main__inner--account">
        <div class="col-lg-4 section__container">
            <section>
                <h4>Balances</h4>
                    {{#each accountData.balances as |balanceObj|}}
                        {{#if (eq balanceObj.asset_type "native")}}
                            <h5>Lumens (XLM) </h5>
                            <p>{{div balanceObj.balance 10000000}}</p>
                        {{else}}
                            <h5>Ryan: {{balanceObj.balance}}</h5>
                        {{/if}}
                    {{/each}}
            </section>
            <section>
                <h4>Account Information</h4>
                 
                <h5>Current Transaction Sequence #</h5>
                <p>{{accountData.sequence}}</p>

                <h5>Entries</h5>
                <p>{{accountData.subentry_count}}</p>

                <h5>Signers</h5>
                {{#each accountData.signers as |signer|}}
                    <p>{{signer.public_key}}</p>
                    <p>Weight of {{signer.weight}}</p>
                {{/each}}
                
                <h5>Flags on the account</h5>
                {{#each-in accountData.flags as |flag boolean|}}
                    <p>{{flag}}? {{boolean}}</p>
                {{/each-in}}         

                 <h5>Thresholds</h5>
                  {{#each-in accountData.thresholds as |threshold amount|}}
                    <p>{{threshold}}: {{amount}}</p>
                {{/each-in}}
           
            </section>
        </div>
        
        <div class="col-lg-8 section__container"> 
             <div id="accountNumber" class="row">
                 <h5>{{accountData.account_id}}</h5>
            </div>
            {{ember-table-wrapper recentTransactions=transactions}}
        </div>


    </div>
</main>