              

    <div class="table__header"><h4>Transactions</h4></div>

    <ol>
        {{#each recentTransactions as |transaction|}}
        <li>
            <div class="table__block">
                <p><strong>Transaction ID</strong></p>
                <p>{{transaction.id}}</p>
            </div>
            <div class="table__block">
                {{#if transaction.source_account.isPending}}
                {{else}}
                    <p><strong>Source Account</strong></p>
                    <p> {{transaction.source_account}}</p> 
                {{/if}}
                
            </div>

            <div class="table__block--signature-header">
                <p><strong>Signatures</strong></p>
            </div>
                {{#each transaction.signatures as |signer|}}
                     <p>{{signer}}</p>
                {{/each}}

                <table>
                    <tr>
                        <th>Ledger</th>
                        <th>Operations</th>
                        <th>Fee</th>
                        <th>Age</th>
                    </tr>

                    <tr>
                        <td>{{transaction.ledger}}</td>
                        <td>{{transaction.operation_count}}</td>
                        <td>{{div transaction.fee_paid 10000000}} XLM</td>
                        <td>{{moment-from-now transaction.created_at }}</td>
                </tr>
                </table>
        </li>
        {{/each}}
    </ol>
    



